@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #78C841;
  --secondary: #B4E50D;
  --warning: #FF9B2F;
  --danger: #FB4141;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #78C841;
    --secondary: #B4E50D;
    --warning: #FF9B2F;
    --danger: #FB4141;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.25) transparent;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(0,0,0,0.16), rgba(0,0,0,0.28));
  border-radius: 9999px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
