@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/liquid-glass.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #78C841;
  --secondary: #B4E50D;
  --warning: #FF9B2F;
  --danger: #FB4141;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #78C841;
    --secondary: #B4E50D;
    --warning: #FF9B2F;
    --danger: #FB4141;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}